@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

body {
  background-color: #323232;
  font-family: Scope One;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: 0;
  height: 100vh;
}

.out-box {
  color: #f0f8ff;
  background-color: #2e2e2e;
  overflow: hidden;
  border-radius: 10px;
  /* border: 1px solid #f0f8ff; */
  box-shadow: 0 0 7px #f0f8ff;
  width: 400px;
  padding: 20px;
  position: relative;
  overflow: visible;
}
.arrs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pointhov {
  display: flex;
  flex-direction: column;
  place-content: center;
  cursor: pointer;
}

.monthYear {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 800;
}
.monthYear #monthPlace {
  color: #6ebbff;
}
.monthYear #yearPlace {
  color: #f9ac8e;
}

.weeks,
.caldays {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.caldays {
  height: fit-content;
}

.weeks div,
.caldays div {
  width: 11.78%;
  height: 40px;
  text-align: center;
  place-content: center;
  margin: 5px;
  border-radius: 5px;
}

.caldays div {
  cursor: pointer;
  transition: background-color 0.3s;
  transition: click 0.5s;
}

.caldays div:hover,
.caldays div.active {
  background-color: #f0f8ff;
  color: #4564ff;
}

.caldays .today {
  background-color: #4564ff;
  color: #f0f8ff;
}
.caldays .todaylite {
  color: #6881ff;
}
.caldays .dim {
  color: #717171;
}

#allMonths {
  background-color: #3c3c3c;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
  place-items: center;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  top: 75px;
  left: 80px;
  z-index: 2;
  box-shadow: 0 0 8px #6ebbff;
}

#listYears {
  background-color: #3c3c3c;
  place-items: center;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template: auto / auto auto;
  gap: 15px;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  top: 75px;
  right: 80px;
  z-index: 3;
  box-shadow: 0 0 8px #f9ac8e;
}

#allYears {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
}

#listYears .upds {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row;
  width: 100%; */
  flex-direction: column;
  height: 100%;
}

#allMonths div,
#allYears div {
  color: #f0f8ff;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

#allMonths div.today,
#allMonths div:hover {
  color: #6ebbff;
}

#allYears div.today,
#allYears div:hover {
  color: #f9ac8e;
}

#allMonths.hide,
#listYears.hide,
#jumpToday.hide {
  visibility: hidden;
  opacity: 0;
}

#jumpToday {
  position: absolute;
  bottom: -3%;
  right: -6%;
  width: 50px;
  height: 50px;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: #4564ff;
  color: #f0f8ff;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}

.dates-show {
  padding: 10px 20px;
  color: #f0f8ff;
  border: 2px solid #f0f8ff;
  border-radius: 8px;
  font-weight: 800;
  margin-top: 50px;
}
.dates-show #todayDate {
  color: #6881ff;
}
.dates-show #userDate {
  color: #f9ac8e;
}
